*{margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container{
  padding: 0 20px;
  max-width: 1100px;
  margin: 0 auto;  
}

.dflex{
  display: flex;
}

/* header */

.headerfix{
  background-color: rgb(254, 105, 0);
  position: fixed;
  left: 0;
  right: 0;
  height: 50px;
  width: 100%;
  z-index: 99;   
}

.headerfix .headerins{
  height: 50px;
  align-items: center; 
  justify-content: space-between;   
}

a:link{
  text-decoration: none;  
}

.headerfix a{  
  color: white;
  margin-right: 10px; 
  justify-content: flex-startsp; 
}

.headerfix .logo{
  width: 50px;
  height: 30px;
  justify-content: center;
}

.headerfix .loghini{
  flex-wrap: wrap;  
}

.headerins .loghini .logoawsome{
  color: white;
  margin-left: 5px;
}

/* /Header */

main{
  padding-top: 50px;
}

.lista{
  margin-top: 30px;   
}

.riga{
  flex-wrap: wrap;
}

.lista .model{
  justify-content: space-evenly;  
  width: 33%;   
  padding: 10px;        
}

.lista .riga img{
  width: 100%; 
}

.rel{
  position: relative;
}

.absol{
  position: absolute;
}

.interno{
  width: 100%;
  aspect-ratio: 2/2.9;


}

.quadro .widget{
  position: absolute;  
  padding: 3px 8px;
  color: white;
  bottom: 50;
  left: 0; 
  z-index: 98; 
}

.quadro .sconto{
  background-color: red;
  padding: 3px 8px;
}

.quadro .tipologia{
  
  background-color: green;
  padding: 3px 8px;
  color: white;
 
  z-index: 98
} 
/* .primaria{
  z-index: 1;
} */

.alternative{
  z-index: -1;
}

.interno:hover .alternative{
  z-index: 2;
}


.riga .quadro .tipologia{
  display: inline-block;
}




