*{margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container{
  padding: 0 20px;
  max-width: 1100px;
  margin: 0 auto;  
}

.dflex{
  display: flex;
}

/* header */

.headerfix{
  background-color: rgb(254, 105, 0);
  position: fixed;
  left: 0;
  right: 0;
  height: 50px;
  width: 100%;   
}

.headerfix .headerins{
  height: 50px;
  align-items: center; 
  justify-content: space-between;   
}

a:link{
  text-decoration: none;  
}

.headerfix a{  
  color: white;
  margin-right: 10px; 
  justify-content: flex-startsp; 
}

.headerfix .logo{
  width: 50px;
  height: 30px;
  justify-content: center;
}

.headerfix .loghini{
  flex-wrap: wrap;  
}

.headerins .loghini .logoawsome{
  color: white;
  margin-left: 5px;
}

/* /Header */

main{
  padding-top: 50px;
}

.lista{
  margin-top: 30px;
  background-color: aqua;  
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.lista .model{
  justify-content: space-evenly;  
  /* width: 35%; */
  /* height: 100%; */
       
}

.lista .riga1 img{
  width: 100%;
  height: 80%;  
}

.lista .riga2 img{
  width: 100%;
  height: 80%;  
}



